@charset "utf-8";

/* common */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
}

a {
  transition: all .3s;
  -webkit-transition: all .3s;
}

a:hover {
  text-decoration: none;
}

.display-none {
  display: none;
}

textarea {
  resize: vertical;
}

img {
  box-shadow: 0 0 2px 2px #eee inset;
}

.btn {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.btn * {
  transition: all .3s;
  -webkit-transition: all .3s;
}

/* header */

header {
  margin: 40px 60px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* footer */

footer {
  margin: 40px 60px;
  text-align: right;
}

/* navbar */

.navbar {
  background: #fff;
  margin-bottom: 0;
  border: 0;
}

.navbar-nav li {
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.navbar-default .navbar-nav li:hover {
  border-bottom: 2px solid #ccc;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.navbar-nav li.current {
  border-bottom: 2px solid #666;
}

.navbar-nav li.current a {
  color: #111;
}

/* main */

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* steam view */

body.steam-view {
  color: #8F98A0;
  background: #171a21;
}

body.steam-view header {
  border-color: #333;
}

body.steam-view .navbar {
  color: #8F98A0;
  background: #171a21;
}

body.steam-view .nav li a {
  background: #171a21;
}

body.steam-view a {
  color: #b8b6b4 !important;
}

body.steam-view a:hover {
  color: #fff !important;
}

body.steam-view .btn:hover {
  background: #444 !important;
}

body.steam-view .btn:hover * {
  background: #444 !important;
  transition: all .3s;
}

body.steam-view main {
  color: #ebebeb;
  background: #1b2838;
  border-color: #333;
}

body.steam-view main * {
  border-color: #333 !important;
}

body.steam-view .content {
  background: #1f1f1f;
}

body.steam-view .content-item {
  background: #1f1f1f;
  border-radius: 4px;
}

body.steam-view .content-item input,
body.steam-view .content-item select,
body.steam-view .content-item label,
body.steam-view .content-item button,
body.steam-view .content-item a {
  color: #ebebeb;
  background: #1f1f1f;
}

body.steam-view .content-item button:hover {
  color: #ebebeb;
}

body.steam-view .popover {
  color: #ebebeb;
  background: #171a21;
}

body.steam-view .arrow {
  border-color: transparent !important;
  border-right-color: #333 !important;
}

body.steam-view .arrow::after {
  border-color: transparent !important;
  border-right-color: #171a21 !important;
}

body.steam-view #pd2item-area .pd2item-item:hover {
  background: #444;
}

body.steam-view img {
  box-shadow: 0 0 2px 2px #444 inset;
}

/* content */

.content {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content-item {
  width: 100%;
  margin-bottom: 16px;
  padding: auto;
  overflow: hidden;
}

.content-item:last-child {
  margin-bottom: 0;
}

/* setting */

#setting-area .setting-label {
  display: inline-table;
}

#setting-area .setting-label label {
  margin: 0;
}

#setting-area .help-icon {
  line-height: 22px;
  padding: 6px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* pd2item */

#pd2item-area .pd2item-group {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#pd2item-area .pd2item-group-header {
  width: 100%;
  padding: 0 8px 8px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  cursor: pointer;
}

#pd2item-area .pd2item-header-name {
  height: 34px;
  line-height: 34px;
  font-size: 1.2em;
  font-weight: bold;
}

#pd2item-area .pd2item-header-caret {
  height: 34px;
  float: right;
}

#pd2item-area .pd2item-group-list {
  width: 100%;
}

#pd2item-area .pd2item-item {
  margin: 4px;
  padding: 4px;
  display: inline-table;
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s;
}

#pd2item-area .pd2item-item:hover {
  background: #eee;
  transition: all .3s;
}

#pd2item-area .pd2item-item-sm {
  width: 128px;
}

#pd2item-area .pd2item-item-nor {
  width: 180px;
}

#pd2item-area .pd2item-item-lg {
  width: 256px;
}

#pd2item-area .pd2item-item-img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#pd2item-area .pd2item-item-name {
  width: 100%;
  text-align: center;
}

/* detail */

#detail-area .content-item {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

#detail-area .content-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

#detail-area #detail-img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

#detail-area #detail-img img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#detail-area .detail-label {
  /*border: 1px solid #ddd;*/
  font-weight: bold;
  margin: 4px;
}

#detail-area .detail-info {
  /*border: 1px solid #ddd;*/
}

#detail-area .detail-item {
  /*border: 1px solid #ddd;*/
  overflow: hidden;
}

#detail-area .detail-value {
  /*border: 1px solid #ddd;*/
  margin-left: 16px;
}

#detail-area .detail-link-info {
  /*border: 1px solid #ddd;*/
  margin-top: 4px;
  margin-left: 24px;
}

#detail-area .detail-link {
  /*border: 1px solid #ddd;*/
  margin-bottom: 4px;
  margin-left: 8px;
}

/* Tablet */

@media (min-width: 768px) {
  
  /* setting */
  
  #setting-area .setting-label {
    width: 86px;
    line-height: 34px;
    text-align: right;
    position: relative;
    z-index: 8;
  }
  
  #setting-area .setting-input {
    width: 100%;
    margin-left: -120px;
    padding-left: 120px;
    position: relative;
    z-index: 6;
    float: right;
  }
  
  #setting-area .setting-input > input,
  #setting-area .setting-input > select {
    width: 100%;
  }
  
  #setting-area .setting-input > label {
    line-height: 34px;
  }
  
  /* setting-sort */
  
  #setting-area .setting-input.input-group #setting-sort {
    width: 100%;
    margin-right: -76px;
    padding-right: 76px;
  }
  
  #setting-area .setting-input.input-group .input-group-btn {
    width: 76px;
  }
  
  /* detail */
  
  #detail-area #detail-img {
    width: 488px;
  }
  
  #detail-area #detail-img img {
    width: 100%;
  }

  #detail-area .detail-label {
    width: 110px;
    margin: 0;
    text-align: right;
    display: inline-table;
  }
  
  #detail-area .detail-label::after {
    content: ':';
  }
  
  #detail-area .detail-info {
    width: 100%;
    margin: 0;
    margin-left: -120px;
    padding-left: 120px;
    float: right;
  }
  
  #detail-area .detail-value {
    margin-left: 0;
  }
  
  #detail-area .detail-link-info {
    margin-left: 8px;
  }
}

/* Medium desktop */

@media (min-width: 992px) {
  
  /* detail */
  
  #detail-area .content-item {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  
  #detail-area .content-item:last-child {
    margin: 0;
  }
  
  #detail-area .detail-label {
    line-height: 34px;
  }
  
  #detail-area .detail-item {
    height: 38px;
  }
  
  #detail-area .detail-value {
    width: 100%;
    line-height: 34px;
    margin: 0;
    margin-left: -360px;
    padding-left: 360px;
    display: inline-table;
  }
  
  #detail-area .detail-link-info {
    width: 340px;
    margin: 0 auto;
    float: right;
  }
}

/* Large desktop */

@media (min-width: 1200px) {
  
}

 /*debug */

body:before {
  content: '- Mobile -';
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  body:before {
    content: '- Tablet -';
  }
}
@media (min-width: 992px) {
  body:before {
    content: '- Medium desktop -';
  }
}
@media (min-width: 1200px) {
  body:before {
    content: '- Large desktop -';
  }
}
