@charset "utf-8";

/* common */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
}

a {
  transition: all .3s;
}

a:hover {
  text-decoration: none;
  transition: all .3s;
}

.display-none {
  display: none;
}

textarea {
  resize: vertical;
}

/* header */

header {
  margin: 40px 60px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* footer */

footer {
  margin: 40px 60px;
  text-align: right;
}

/* navbar */

.navbar {
  background: #fff;
  margin-bottom: 0;
  border: 0;
}

.navbar-nav li {
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: all .3s;
}

.navbar-default .navbar-nav li:hover {
  border-bottom: 2px solid #ccc;
  transition: all .3s;
}

.navbar-nav li.current {
  border-bottom: 2px solid #666;
}

.navbar-nav li.current a {
  color: #111;
}

/* main */

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* content */

.content {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content-item {
  width: 100%;
  margin-bottom: 16px;
  padding: auto;
}

.content-item:last-child {
  margin-bottom: 0;
}

/* setting */

#setting-area .help-icon {
  margin-right: 8px;
  cursor: pointer;
}

/* Tablet */

@media (min-width: 768px) {
  
  /* setting */
  
  #setting-area .setting-label {
    width: 120px;
    display: inline-table;
    position:relative;
  }
  
  #setting-area .setting-input {
    width: 100%;
    margin-left: -158px;
    padding-left: 158px;
    display: inline-table;
    position:relative;
  }
  
  #setting-area .setting-input > input,
  #setting-area .setting-input > select {
    margin: 0;
    width: 100%;
  }
  
}

/* Medium desktop */

@media (min-width: 992px) {
  
}

/* Large desktop */

@media (min-width: 1200px) {
  
}

 /*debug */

body:before {
  content: '- Mobile -';
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  body:before {
    content: '- Tablet -';
  }
}
@media (min-width: 992px) {
  body:before {
    content: '- Medium desktop -';
  }
}
@media (min-width: 1200px) {
  body:before {
    content: '- Large desktop -';
  }
}
