@charset "utf-8";

/* common */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
}

a {
  transition: all .3s;
  -webkit-transition: all .3s;
}

a:hover {
  text-decoration: none;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.display-none {
  display: none;
}

textarea {
  resize: vertical;
}

/* header */

header {
  margin: 40px 60px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* footer */

footer {
  margin: 40px 60px;
  text-align: right;
}

/* navbar */

.navbar {
  background: #fff;
  margin-bottom: 0;
  border: 0;
}

.navbar-nav li {
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: all .3s;
  -webkit-transition: all .3s;
}

.navbar-default .navbar-nav li:hover {
  border-bottom: 2px solid #ccc;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.navbar-nav li.current {
  border-bottom: 2px solid #666;
}

.navbar-nav li.current a {
  color: #111;
}

/* main */

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* content */

.content {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content-item {
  width: 100%;
  margin-bottom: 16px;
  padding: auto;
}

.content-item:last-child {
  margin-bottom: 0;
}

/* setting */

#setting-area .setting-label {
  display: inline-table;
}

#setting-area .setting-label label {
  margin: 0;
}

#setting-area .help-icon {
  line-height: 34px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* pd2item */

#pd2item-area .pd2item-group {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#pd2item-area .pd2item-group-header {
  width: 100%;
  padding: 0 8px 8px;
  overflow: hidden;
}

#pd2item-area .pd2item-header-name {
  height: 34px;
  line-height: 34px;
  font-size: 1.2em;
  font-weight: bold;
}

#pd2item-area .pd2item-header-caret {
  height: 34px;
  float: right;
}

#pd2item-area .pd2item-group-list {
  width: 100%;
  border-top: 1px solid #ddd;
}

#pd2item-area .pd2item-item {
  margin: 8px;
  display: inline-table;
}

#pd2item-area .pd2item-item-sm {
  width: 64px;
}

#pd2item-area .pd2item-item-nor {
  width: 100px;
}

#pd2item-area .pd2item-item-lg {
  width: 200px;
}

#pd2item-area .pd2item-item-img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px #eee inset;
}

#pd2item-area .pd2item-item-name {
  width: 100%;
  text-align: center;
}

/* Tablet */

@media (min-width: 768px) {
  
  /* setting */
  
  #setting-area .setting-label {
    line-height: 34px;
    position: relative;
    z-index: 8;
  }
  
  #setting-area .setting-input {
    width: 100%;
    margin-left: -120px;
    padding-left: 120px;
    position: relative;
    z-index: 6;
    float: right;
  }
  
  #setting-area .setting-input > input,
  #setting-area .setting-input > select,
  #setting-area .setting-input > label {
    width: 100%;
    line-height: 34px;
  }
  
  /* setting-sort */
  
  #setting-area .setting-input.input-group #setting-sort {
    width: 100%;
    margin-right: -76px;
    padding-right: 76px;
  }
  
  #setting-area .setting-input.input-group .input-group-btn {
    width: 76px;
  }
}

/* Medium desktop */

@media (min-width: 992px) {
  
}

/* Large desktop */

@media (min-width: 1200px) {
  
}

 /*debug */

body:before {
  content: '- Mobile -';
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  body:before {
    content: '- Tablet -';
  }
}
@media (min-width: 992px) {
  body:before {
    content: '- Medium desktop -';
  }
}
@media (min-width: 1200px) {
  body:before {
    content: '- Large desktop -';
  }
}
