@charset "utf-8";

/* pd2item */

#pd2item-area .pd2item-group {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#pd2item-area .pd2item-group-header {
  width: 100%;
  padding: 0 8px 8px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  cursor: pointer;
}

#pd2item-area .pd2item-header-name {
  height: 34px;
  line-height: 34px;
  font-size: 1.2em;
  font-weight: bold;
}

#pd2item-area .pd2item-header-caret {
  height: 34px;
  float: right;
}

#pd2item-area .pd2item-group-list {
  width: 100%;
}

#pd2item-area .pd2item-item {
  margin: 4px;
  padding: 4px;
  display: inline-table;
  cursor: pointer;
  border-radius: 4px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}

#pd2item-area .pd2item-item:hover {
  background: #f8f8f8;
  border: 1px solid #ddd;
  transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
}

#pd2item-area .pd2item-item-sm {
  width: 128px;
}

#pd2item-area .pd2item-item-nor {
  width: 180px;
}

#pd2item-area .pd2item-item-lg {
  width: 256px;
}

#pd2item-area .pd2item-item-img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#pd2item-area .pd2item-item-name {
  width: 100%;
  text-align: center;
}
